 @using Identity.ViewModels.Account
@model AccountLoginVM
@{
	Layout = "_Layout";
	string returnUrl = Context.Request.Query["returnUrl"];
}
<section class="ftco-section">
	<div class="container">

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">

					<div asp-validation-summary="All"> </div>

					<form method="post" asp-controller="Account" asp-action="Login" class="signin-form">
						<div class="form-group">
							<input asp-for="EmailAddress" class="form-control" placeholder="Email">
							<span class="text-danger" asp-validation-for="EmailAddress"> </span>
						</div>
						<input  type="hidden" asp-for="ReturnUrl" value="@returnUrl" />
					  
						<div class="form-group">
							<input asp-for="Password" class="form-control password-field" placeholder="Password">
							<span toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							<span class="text-danger" asp-validation-for="Password"> </span>
						</div>

						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
						</div>
					</form>
					<a asp-action="ForgetPassword" asp-controller="Account">Do you forgot your password?</a>
					<br />
					<h3 class="mb-4 text-center">Create an account?</h3>
					<p class="w-100 text-center">&mdash; <a asp-controller="Account" asp-action="Register">Register</a> &mdash;</p>

				</div>
			</div>
		</div>
	</div>
</section>


