@using Identity.ViewModels.Account
@model AccountRegisterVM

	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">

						<div asp-validation-summary="All"> </div>

						<form method="post" asp-controller="Account" asp-action="Register" class="signin-form">
							<div class="form-group">
								<input asp-for="EmailAddress" class="form-control"placeholder="Email" >
							<span class="text-danger" asp-validation-for="EmailAddress"> </span>
							</div>
							
							<div class="form-group">
								<input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" >
							</div>	
							
							<div class="form-group">
								<input asp-for="Country" class="form-control" placeholder="Country" >
							<span class="text-danger" asp-validation-for="Country"> </span>
							</div>
							
							<div class="form-group">
								<input asp-for="City" class="form-control" placeholder="City">
							<span class="text-danger" asp-validation-for="City"> </span>
							</div>

							<div class="form-group">
							<input asp-for="Password" class="form-control password-field" placeholder="Password" >
								<span toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							<span class="text-danger" asp-validation-for="Password"> </span>
							</div>
							
							<div class="form-group">
							<input asp-for="ConfirmPassword" class="form-control ConfirmPassword-field" placeholder="Confirm Password">
								<span toggle=".ConfirmPassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							<span class="text-danger" asp-validation-for="ConfirmPassword"> </span>

							</div>


							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
							</div>
						</form>
					<h3 class="mb-4 text-center">Have an account?</h3>


					<p class="w-100 text-center">&mdash; <a asp-controller="Account" asp-action="Login">LOGIN</a> &mdash;</p>
						@* <div class="social d-flex text-center">
							<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
							<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
						</div> *@
					</div>
				</div>
			</div>
		</div>
	</section>


