@using Identity.ViewModels.Account
@model AccountResetPasswordVM
@{
	string email = Context.Request.Query["Email"];
	string token = Context.Request.Query["token"];
}
<section class="ftco-section">
	<div class="container">
        <h3 class="text-center">RESET PASSWORD</h3>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">

					<div asp-validation-summary="All"> </div>

					<form method="post" asp-controller="Account" asp-action="ResetPassword" class="signin-form">
						<input type="hidden" value="@email" asp-for="Email"/>
						<input type="hidden" value="@token" asp-for="Token"/>
						<div class="form-group">
							<input asp-for="NewPassword" class="form-control" placeholder="New Password">
							<span class="text-danger" asp-validation-for="NewPassword"> </span>
						</div>
						<div class="form-group">
							<input asp-for="NewConfirmPassword" class="form-control" placeholder="New Confirm Password">
							<span class="text-danger" asp-validation-for="NewConfirmPassword"> </span>
						</div>


						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">Confirm</button>
						</div>
					</form>
					<p class="w-100 text-center">&mdash; <a asp-controller="Account" asp-action="Login">Login</a> &mdash;</p>

				</div>
			</div>
		</div>
	</div>
</section>