@using Identity.Areas.Admin.Models.User
@model UserCreateVM
<form  class="w-75 ml-4" asp-controller="User" asp-action="Create" method="post">

	<div class="form-group">
		<label asp-for="EmailAddress"></label>
		<input asp-for="EmailAddress" class="form-control" placeholder="Enter email" />
		<span class="text-danger" asp-validation-for="EmailAddress"></span>
	</div>

	<div class="form-group">
		<label asp-for="Country"></label>
		<input asp-for="Country" class="form-control" placeholder="enter Country" />
		<span class="text-danger" asp-validation-for="Country"></span>
	</div>


	<div class="form-group">
		<label asp-for="City"></label>
		<input asp-for="City" class="form-control" placeholder="Enter City" />
		<span class="text-danger" asp-validation-for="City"></span>
	</div>

	<div class="form-group">
		<label asp-for="PhoneNumber"></label>
		<input asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" />
		<span class="text-danger" asp-validation-for="PhoneNumber"></span>
	</div>
	<div class="form-group">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" placeholder="Enter Password" />
		<span class="text-danger" asp-validation-for="Password"></span>
	</div>
	
	<div class="form-group">
		<label asp-for="ConfirmPassword"></label>
		<input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password" />
		<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
	</div>
	<div class="form-group">
		<label asp-for="RolesIds"></label>
		<select asp-for="RolesIds" asp-items="@Model.Roles" class="form-control" multiple > </select>
		<span class="text-danger" asp-validation-for="RolesIds"></span>
	</div>

	<button type="submit" class="btn btn-primary">CREATE</button>
	<a class="btn btn-outline-info" asp-controller="User" asp-action="Index">Cancel</a>
</form>
